.idea/
cmake-build-*
*.out
external/*
*.DS_Store
*/CMakeFiles/*
*Makefile*
*.cmake
CMakeCache.txt
*.a
googletest-build/*
*.cbp
*.tcl
_deps/*
*googletest-prefix/*

# Logging
data/leodb-lob.log
*.log

# LeoDB files
*.leodb

# Executables created
leodb
test_operators
test_key
test_value